.footer {
    text-align: center;
    width: 100%;
    margin: 50vh auto;
    padding: 5vh;
    border-top: 1px solid #ffffffbe;
    color: white;
  }

@media screen and (min-width: 700px) {
  .footer {
      margin-top: 60vh;
      width: 80%;

  }
}