.locationdiv {
    margin-top: 0vh;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(24, 24, 24);
    background-color: rgba(164, 164, 164, 0.406);
    border: 2px solid rgb(150, 150, 150);
    box-shadow: 5px 5px rgba(164, 164, 164, 0.253);
}

.locationbtnatoffice {
    padding: 10px 20px;
    margin: 2vh;
    border: none;
    width: 10vh;
    height: 15vh;
    font-size: 20px;
    border-radius: 5px;
    font-family: Quicksand !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    background: url(workingfromofficeblack.png);
    background-repeat: no-repeat;
    background-size:contain;
}


.locationbtnatoffice:hover {
    cursor: pointer;
    border: 1px solid grey;
}

.locationbtnathome {
    padding: 10px 20px;
    margin: 2vh;
    border: none;
    width: 10vh;
    height: 15vh;
    font-size: 20px;
    border-radius: 5px;
    font-family: Quicksand !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    background: url(workingfromhomeblack.png);
    background-repeat: no-repeat;
    background-size:contain;
}


.locationbtnathome:hover {
    cursor: pointer;
    border: 1px solid grey;
}
