

  
  #logindiv {
    max-width: 600px;
    margin: 5vh auto;
    padding: 10px;
    text-align: center;
    color: black;
  }
  
  .saplogodivlogin {
    background: url(saplogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 70px;
    margin: auto;
  
  }
  
  #logindiv h2 {
    margin: 25px;
    text-align: center;
    font-size: 36px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
  }
  
  .logintext {
    margin: 15px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
  }
  
  .loginbutton {
    padding: 14px 40px;
    font-size: 25px;
    margin: 2vh auto;
    background-color: #1294F2;
    border-radius: 20px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

