.mainaccountdiv {
    text-align: center;
    max-width: 60vw;
    margin: 10vh auto;
    padding: 1vh;
    padding: 5vw;
    box-shadow: 2px 2px;
    border: 2px solid rgb(150, 150, 150);
    background-color: rgba(164, 164, 164, 0.406);
    box-shadow: 5px 5px rgba(164, 164, 164, 0.253);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.mainaccountdiv h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    line-height: normal;
}

.accountinfoholder {
    display: grid;
    margin: 5vh auto;
    grid-template-columns: 10vw 20vw;
    gap: 2vw;
    max-width: 30vw;

}

.accountitem {
    padding: 1vh 1vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: normal;
}

.accountinfoitem {
    padding: 10px;
    width: 15vw;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.signoutbtn {
    padding: 15px 30px;
    border: none;
    margin: 10px;
    margin-top: 1vh;
    color: black;
    background-color: #ee1c1c;
    border-radius: 8px;
    font-size: 1.2rem;
    width: 10vw;
    height: 5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.signoutbtn:hover {
    color: #ffffff;
    cursor: pointer;
    
    box-shadow: 2px 2px;
}

.savebtn {
    padding: 15px 30px;
    border: none;
    margin: 10px;
    margin-top: 1vh;
    color: black;
    background-color: #1294F2;
    border-radius: 8px;
    font-size: 1.2rem;
    width: 10vw;
    height: 5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.savebtn:hover {
    color: #ffffff;
    cursor: pointer;
    box-shadow: 2px 2px;
}

@media screen and (max-width: 1300px) {
  
    .savebtn, .signoutbtn {
        width: 15vw;
        height: 8vh;
    }

    .accountinfoitem {
        width: 25vw;
        
    }

    .accountinfoholder {
        max-width: 40vw;
    }
  
    
  }


  @media screen and (max-width: 800px) {
  
    .savebtn, .signoutbtn {
        width: 25vw;
    }

    .accountinfoitem {
        width: 40vw;
        font-size: .8rem;
        
    }

    .accountinfoholder {
        max-width: 40vw;
    }
  
    .accountinfoholder {
        display: grid;
        margin: 5vh auto;
        grid-template-columns: 40vw;
        width: 40vw;
        text-align: center;
    }

    .accountitem {
        width: 40vw;
    }
  }