.mainbuttondiv {
    width: 20vh;
    margin: 0vh auto;
    margin-bottom: 0;
  }
  
  .neweventbuttondiv {
    display: block;
    width: 20vh;
    justify-content: center;
    align-items: center;
  }
  
  
  .neweventbutton {
    padding: 15px 30px;
    border: none;
    margin: 10px;
    margin-top: 1vh;
    color: black;
    background-color: #1294F2;
    border-radius: 8px;
    font-size: 25px;
    width: 191px;
    height: 58px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
  }
  
  .neweventbutton:hover {
    color : #1294F2;
    background-color: black;
    cursor: pointer;
    border: 2px solid #1294F2;
    
  }
  
  .weekmonthbutton {
    border: none;
    margin: 10px;
    margin-top: 5vh;
    color: black;
    background-color: #1294F2;
    border-radius: 20px;
    font-size: 15px;
    padding: 18px 25px;
    text-align: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  
  }
  
  .weekmonthbutton:hover {
    color : #1294F2;
    background-color: black;
    cursor: pointer;
    
    border: 2px solid #1294F2;
  }

  
  .upcomingeventsbutton {
    padding: 20px 80px;
    border-radius: 15px;
    background: #d3d3d3;
    margin-top: 1vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: normal;
    width: 35vh;
  }
  
  .upcomingeventsbutton:hover {
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
  }


  @media screen and (min-width: 700px) {
    .upcomingeventsbutton {
      font-size: 1rem;
  
    }
  }