footer {
    text-align: center;
    margin: 25vh 0vh auto;
    padding: 5vh;
    border-top: 1px solid #4c4c4cbe;
    color: rgb(0, 0, 0);
    top: 0;
    background-color: rgba(146, 146, 146, 0.363);
  }


@media screen and (max-width: 1400px) {

  footer {
    margin-top: 80vh;
  }

  
}

@media screen and (max-width: 1200px) {
  
  footer {
    margin-top: 200vh;
  }

  
}

@media screen and (max-width: 1000px) {

  footer {
    margin-top: 300vh;
  }

}