.locationdiv {
    margin-top: 0vh;
    padding: 5px;
    text-align: center;
    height: 15vh;
}

.locationdiv h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: normal;
    font-family: Rubik;
}


.locationdiv h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: normal;
    font-family: Rubik;
}

.locationbtnatoffice {
    padding: 10px 20px;
    margin: 2vh;
    border: none;
    width: 10vh;
    height: 10vh;
    font-size: 20px;
    border-radius: 5px;
    font-family: Quicksand !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    background: url(workingfromofficeblack.png);
    background-repeat: no-repeat;
    background-size:contain;
}


.locationbtnatoffice:hover {
    cursor: pointer;
    border: 1px solid grey;
}

.locationbtnathome {
    padding: 10px 20px;
    margin: 2vh;
    border: none;
    width: 10vh;
    height: 10vh;
    font-size: 20px;
    border-radius: 5px;
    font-family: Quicksand !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    background: url(workingfromhomeblack.png);
    background-repeat: no-repeat;
    background-size:contain;
}


.locationbtnathome:hover {
    cursor: pointer;
    border: 1px solid grey;
}
