#saplogonavbar {
    background: url(../images/saplogo.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18px;
    width: 80px;
    margin-top: 0px;
    padding: 30px;
    margin-left: 2.5vh;
    
  }



  #navigation {
    padding: 5px;
    border-bottom: 1px solid #515151;
    display: flex;
    background-color: rgba(164, 164, 164, 0.267);
    font-size: 22.5px;
    justify-content: space-between;
    align-items: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  #navigation ul {
    list-style-type: none;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;
    margin: 5px;
  }
  
  
  
  
  #navigation li a {
    text-decoration: none;
    color: rgb(255, 236, 236);
  }
  
  #navigation li {
    padding: 20px 20px 20px 15px;
    margin-right: 1vh;
    display: inline;
    float: left;
  }
  
  .accountnavbar {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 2.5vh;
  }


  @media screen and (max-width: 900px) {
  
    #navigation {
      justify-content:center;
    }
    
}

/* DARK MODE SLIDER --------------------------------
*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 1vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  margin-top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8a8a8a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #41a3ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #41a3ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#accounticon {
    color: #41a3ff;
    font-size: 30px;
    margin-left: 0vh;
}

#neweventicon {
  color: #41a3ff;
  font-size: 30px;
  margin-left: 0vh;
}


#accounticon:hover {
    color: rgb(0, 0, 0);
}

#calendaricon:hover {
  color: rgb(0, 0, 0);
}

#calendaricon {
  color: #41a3ff;
    font-size: 30px;
    margin-left: 0vh;
}

#seaticon:hover {
  color: rgb(0, 0, 0);
}

#seaticon {
  color: #41a3ff;
    font-size: 30px;
    margin-left: 0vh;
}