
/*
CSS FILE >_<
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
:root {
  --color__black: #000000;
  --color__white: #FFFFFF;
}


.position-relative {
  position: relative;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.my-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  gap: 1rem 0;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.333%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
/*-------------------------------------------------
    [ ## Fields (For back end cuties)]
---------------------------------------------------*/
.dashboard__wrapper input[type=text],
.dashboard__wrapper input[type=email],
.dashboard__wrapper input[type=url],
.dashboard__wrapper input[type=password],
.dashboard__wrapper input[type=number],
.dashboard__wrapper input[type=search] {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: transparent;
}
.dashboard__wrapper input[type=text]:focus,
.dashboard__wrapper input[type=email]:focus,
.dashboard__wrapper input[type=url]:focus,
.dashboard__wrapper input[type=password]:focus,
.dashboard__wrapper input[type=number]:focus,
.dashboard__wrapper input[type=search]:focus {
  outline: none;
  box-shadow: none;
  border-color: #000;
}

.dashboard__wrapper input[type=time]::-webkit-inner-spin-button,
.dashboard__wrapper input[type=time]::-webkit-outer-spin-button,
.dashboard__wrapper input[type=date]::-webkit-inner-spin-button,
.dashboard__wrapper input[type=date]::-webkit-outer-spin-button,
.dashboard__wrapper input[type=number]::-webkit-inner-spin-button,
.dashboard__wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dashboard__wrapper input[type=search] {
  -webkit-appearance: textfield;
}

.dashboard__wrapper input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.form-control {
  width: 100%;
  border: 0;
}

.dashboard__wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Inter", sans-serif;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
}

.dashboard__wrapper input:-webkit-autofill,
.dashboard__wrapper textarea:-webkit-autofill,
.dashboard__wrapper select:-webkit-autofill {
  box-shadow: 0 0 0px 0 rgba(var(--color__black), 0) inset;
  -webkit-box-shadow: 0 0 0px 0 rgba(var(--color__black), 0) inset;
  -webkit-text-fill-color: var(--color__black) !important;
}

.dashboard__wrapper input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 0 rgba(var(--color__black), 0) inset;
  -webkit-box-shadow: 0 0 0px 0 rgba(var(--color__black), 0) inset;
  -webkit-text-fill-color: var(--color__black) !important;
}

.dashboard__wrapper textarea.form-control {
  display: block;
  width: 96%;
  display: block;
  min-height: 100px;
  font-family: "Inter", sans-serif;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
}
.dashboard__wrapper textarea.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-floating > .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-input-placeholder {
  color: var(--color__black);
}

.widget_newsletter::-webkit-input-placeholder {
  color: #808080;
}

:-moz-placeholder {
  color: var(--color__black);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--color__black);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--color__black);
}

.text-red {
  color: red;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
 
.switch {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.switch input[type=checkbox] {
  display: none;
}
.switch label {
  cursor: pointer;
  width: 5rem;
  height: 2.5rem;
  background: #000;
  display: block;
  border-radius: 2rem;
  position: relative;
  border: 0.1rem solid #fff;
  transition: all 0.3s;
}
@media screen and (min-width: 1200px) {
  .switch label {
    width: 7rem;
    height: 3.5rem;
  }
}
.switch label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  background: #0E96F8;
  border: 0.1rem solid #0E96F8;
  border-radius: 50%;
  transition: 0.3s;
  transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .switch label:after {
    width: 2.8rem;
    height: 2.8rem;
  }
}
.switch input:checked + label {
  background: #0E96F8;
  border-color: #0E96F8;
}
.switch input:checked + label:after {
  background-color: #fff;
  left: calc(100% - 0.2rem);
  transform: translateY(-50%) translateX(-100%);
  border-color: #fff;
}

/*--------------------------------------------------------------
# Home Page (responsive)
--------------------------------------------------------------*/
.dashboard__wrapper {
  padding: 1rem;
  margin: 2vh auto;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #000000;

}

@media screen and (max-width: 991px) {
  .dashboard__wrapper .dashboard__body {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .dashboard__wrapper .dashboard__body {
    align-items: stretch;
    height: calc(100vh - 13rem);
  }
}
.dashboard__wrapper .dashboard__body .start__block {
  border: 0.1rem solid #000000;
  padding: 2rem;
  margin: 2vh auto;
  border: 2px solid rgb(150, 150, 150);
  background-color: rgba(164, 164, 164, 0.406);
  box-shadow: 5px 5px rgba(164, 164, 164, 0.253);
}
@media screen and (max-width: 767px) {
  .dashboard__wrapper .dashboard__body .start__block {
    padding: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .dashboard__wrapper .dashboard__body .start__block {
    width: calc(70% - 1.5rem);
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard__wrapper .dashboard__body .start__block {
    width: calc(75% - 1.5rem);
    padding: 3rem;
  }
}
.dashboard__wrapper .dashboard__body .start__block::-webkit-scrollbar {
  width: 5px;
}
.dashboard__wrapper .dashboard__body .start__block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.dashboard__wrapper .dashboard__body .start__block::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
} 

.btn_save_schedule {
  background-color: #1294F2;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.0rem 3.0rem;
  border-radius: 1rem;
  cursor: pointer;
  
  outline: none;
  box-shadow: none;
}

.dashboard__wrapper .dashboard__body .start__block .form_header {
  display: flex;
  color: #000000;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.dashboard__wrapper .dashboard__body .start__block .form_header #schedule_date {
  position: relative;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: none;
  outline: none;
  font-size: 1.6rem;
}
@media screen and (min-width: 576px) {
  .dashboard__wrapper .dashboard__body .start__block .form_header #schedule_date {
    padding: 1rem 2rem;
  }
}
.dashboard__wrapper .dashboard__body .start__block .form_header #schedule_date::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  border-radius: 0.4rem;
  box-shadow: none;
  outline: none;
}
.dashboard__wrapper .dashboard__body .start__block .form_body .form-group {
  margin-bottom: 2.5rem;
}
.dashboard__wrapper .dashboard__body .start__block .form_body .form-group input[type=date] {
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  box-shadow: none;
  outline: none;
  font-size: 1.6rem;
  background: url(./calendar.png) no-repeat;
  background-position: 97% center;
  background-size: 2rem;
}
.dashboard__wrapper .dashboard__body .start__block .form_body .form-group input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  border-radius: 0.4rem;
  box-shadow: none;
  outline: none;
}
.dashboard__wrapper .dashboard__body .start__block .form_body .border-bottom {
  border-bottom: 0.1rem solid #000000;
}
.dashboard__wrapper .dashboard__body .start__block .form_body .border {
  border: 0.1rem solid #000000;
}
.dashboard__wrapper .dashboard__body .start__block .form_body .w-6rem {
  width: 5rem;
}
@media screen and (min-width: 768px) {
  .dashboard__wrapper .dashboard__body .start__block .form_body .w-6rem {
    width: 6rem;
  }
}
.dashboard__wrapper .dashboard__body .start__block .form_body .input-group {
  flex: 1;
}
.dashboard__wrapper .dashboard__body .start__block .form_body select {
  border: 0.1rem solid #000000;
  color: #000000;
  background: transparent url(../images/angle-down.png) no-repeat;
  background-position: 97% center;
  background-size: 2rem;
  cursor: pointer;
}
.dashboard__wrapper .dashboard__body .start__block .form_body select option {
  color: #000000;
}
.dashboard__wrapper .dashboard__body .start__block .form_body input {
  color: #000000;
  padding: 0 0 1.5rem;
}
.dashboard__wrapper .dashboard__body .start__block .form_body input::placeholder {
  color: #000000;
}
.dashboard__wrapper .dashboard__body .start__block .form_body textarea {
  background-color: transparent;
  resize: none;
  color: #000000;
}
.dashboard__wrapper .dashboard__body .start__block .form_body textarea::placeholder {
  color: #000000;
}
.dashboard__wrapper .dashboard__body .start__block .form_body .addLocation {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 991px) {
  .dashboard__wrapper .dashboard__body .start__block .form_body .addLocation {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .dashboard__wrapper .dashboard__body .start__block .form_body .addLocation {
    align-items: center;
  }
}
.dashboard__wrapper .dashboard__body .start__block .form_body .addLocation .team_meet {
  white-space: nowrap;
}

.btn-cancel {
  background-color: #FE3D00;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.dashboard__wrapper .dashboard__body .end__block {
  border: 0.1rem solid #fff;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .dashboard__wrapper .dashboard__body .end__block {
    padding: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .dashboard__wrapper .dashboard__body .end__block {
    width: calc(30% - 1.5rem);
    overflow-y: scroll;
    padding: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard__wrapper .dashboard__body .end__block {
    width: calc(25% - 1.5rem);
  }
}
.dashboard__wrapper .dashboard__body .end__block::-webkit-scrollbar {
  width: 5px;
}
.dashboard__wrapper .dashboard__body .end__block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.dashboard__wrapper .dashboard__body .end__block::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}
.dashboard__wrapper .dashboard__body .end__block .evnt_header {
  margin-bottom: 4rem;
  padding: 1rem 2rem;
}
.dashboard__wrapper .dashboard__body .end__block .evnt_header .date_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}
.dashboard__wrapper .dashboard__body .end__block .evnt_header .date_nav p {
  font-size: 1.8rem;
}
.dashboard__wrapper .dashboard__body .end__block .evnt_header .date_nav strong {
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 1;
  text-shadow: 0px 0px 4px #fff;
}
.dashboard__wrapper .dashboard__body .end__block .evnt_header button {
  cursor: pointer;
}
.dashboard__wrapper .dashboard__body .end__block .event_timeTable {
  margin: 0;
  width: 100%;
  border-spacing: 0;
}
.dashboard__wrapper .dashboard__body .end__block .event_timeTable tr td {
  height: 5rem;
  vertical-align: top;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .dashboard__wrapper .dashboard__body .end__block .event_timeTable tr td {
    height: 8rem;
  }
}
.dashboard__wrapper .dashboard__body .end__block .event_timeTable tr td:last-child {
  border-top: 0.1rem solid #fff;
  text-align: center;
}
.dashboard__wrapper .dashboard__body .end__block .event_timeTable tr td .fc__content {
  width: 10rem;
  background-color: var(--bg);
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  height: calc(5rem * var(--duration));
}
@media screen and (min-width: 1200px) {
  .dashboard__wrapper .dashboard__body .end__block .event_timeTable tr td .fc__content {
    height: calc(8rem * var(--duration));
  }
}
.dashboard__wrapper .dashboard__body .end__block .event_timeTable tr td:first-child {
  width: 5rem;
  position: relative;
  top: -0.5rem;
}

.form_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}