.registerdiv {
    
    max-width: 100vh;
    margin: 10vh auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.registerform {
    display: grid;
    grid-template-columns: auto;
    gap: 1vh;
    width: 40vw;
    text-align: center;
    margin: 2vh auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registerdiv h2 {
    font-size: 2rem;
    font-weight: 400;
}

.registerdiv h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.registerdiv h4 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-weight: 200;
}

.usernameinput, .emailinput, .passwordinput {
    margin: 1.5vh auto;
	width: 20vw;
	height: 4vh;
	font-size: 1.2rem;
	border-radius: 4px;
	border: 1px 1px 0.8px 0.8px solid black;
	padding: 10px;
	color: black !important;
	z-index: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#signUp {
    height: 5vh;
    width: 10vw;
    font-size: 1.4rem;
    margin: 2vh auto;
    background-color: #1294F2;
    border-radius: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

}

#signUp:hover{
	background-color: white;
	color: #1294F2;
	cursor: pointer;
}