.registerdiv {
    
    max-width: 100vh;
    margin: 10vh auto;
    text-align: center;
    
}

.registerform {
    display: grid;
    grid-template-columns: auto;
    gap: 2vh;
    width: 20vw;
    text-align: center;
    margin: 2vh auto;
}

.registerdiv h2 {
    font-size: 2rem;
}

.usernameinput, .emailinput, .passwordinput {
    padding: 10px;
    width: 10vw;
    font-size: 1.2rem;
    margin: 1vh auto;
    width: 20vw;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    padding: 10px;
}

#signUp {
    padding: 14px 40px;
    font-size: 1.2rem;
    margin: 2vh auto;
    background-color: #1294F2;
    border-radius: 8px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#signUp:hover{
	background-color: white;
	color: #1294F2;
	cursor: pointer;
}