.searchbar {
    width: 29.5vw;
    padding: 5px;
    border: 2.5px solid #41a3ff;
    font-size: 1.2rem;
    border-radius: 15px;
    font-weight: 100;
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.searchresult {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 30vw;
}

.individualsearchresult a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.individualsearchresult {
    width: 100%;
    background-color: #41a3ff;
    color: white;
    border-radius: 5px;
    margin-top: 2.5px;
}


.individualsearchresult a:hover {
    color: #000000;
}

.search-container {
    position: relative;
}
.search-container button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: #41a3ff;
    cursor: pointer;
    outline: 0;
}