.seatdiv {
    margin: 10vh;
    text-align: center;
    width: 20vw;
    padding: 1vh;
    border: 2px solid rgb(150, 150, 150);
    background-color: rgba(164, 164, 164, 0.406);
    box-shadow: 5px 5px rgba(164, 164, 164, 0.253);
}



.mainseatdiv {
    margin: 10vh auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    width: 80vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.users { 
    padding: 2px;
    font-size: 1.8rem;
    color: black;
    height: 5vh;
    width: 15vw;
    background-color: transparent;
    margin-top: 1vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.users:hover {
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .users {
        height: 5vh;
    }
}

.seatingimgdiv {
    padding: 4vh;
    margin: 2vh auto;
    border-radius: 5px;
    width: 40vw;
    height: 40vh;
    font-family: Quicksand !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    background: url(../images/CoE-seatinf.png);
    background-repeat: no-repeat;
    background-size:contain;
}