.seatdiv {
    margin: 10vh;
    text-align: center;
    width: 25vw;
    padding: 1vh;
    border: 2px solid rgb(150, 150, 150);
    background-color: rgba(164, 164, 164, 0.406);
    box-shadow: 5px 5px rgba(164, 164, 164, 0.253);
}



.mainseatdiv {
    margin: 10vh auto;
    text-align: center;
    display: grid;
    grid-template-columns: 40vw auto;
    border: 2px solid green;
    width: 80vw;
}